
:root{
    background-color: #CFDBD6;
}
.tabla1
{

 /* border-radius: 0.5em;
  border: 2px solid color(red);/*variables*/
  border-radius: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: brown;
 
  margin: 3em auto;
  border:#CFDBD6 1px solid;/*borde de color de la tabla*/
  background-color: white;
  width: 30%;
  padding-top: 1em;
  padding-bottom: 1em;

  
}
table
{
    border-collapse: collapse;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

button
{

border-radius: 2em;
border-color: white;
width: 190px;
height: 50px;
text-align: center;
padding: 0.6em;

}
.b1
{
    color:black;
}
.b2
{
    background-color: blue;
    color:white;
}
select
{
text-align: center;
border-radius: 2em;
border-color: white;
width: 190px;
height: 50px;
padding: 0.6em;
border-right: 16px solid transparent;
}
td
{
    padding: 15px;
    text-align: center;
}
.days
{
    color:gray;
}
.weekg
{
    color:gray;
    background-color: beige;
}
.week1
{
    color:black;
    background-color: beige;
}
.week2
{
    color:#DD0A0A;
    background-color: #DB9B9B;
}
.ceo
{
    color:#DD0A0A;
    background-color: #DB9B9B;
    border-bottom:red 5px solid;
    border-top-right-radius: 1m;
    

}
.lem
{
    background: #DD0A0A ;
    border-radius: 1em;
    border-color: #DD0A0A;
    color:white;

}

/*
h2
{
    margin-top: 0;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}
div{
    border: 1px solid black;
    width: calc(100vw - 50px);
    height: 100%;
    background-color: rgb(80,91,86);
 
}

/* @media(min-width: 800Px){/**estilo css para moviles filososfia moviles first**/ 
 /*   .panel{background-color: blue;
        color: azure;}
    