@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0.785rem;
  transition: all 0.3s linear;
  border: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  font-size: 0.785rem;
  font-family: "RobotoRegular";
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --dark: #292a2b;
  --white: #fff;
  --grey_light: #CCCCCC;
}

body{
  background-color: #F1F1F1;
  padding: 1em;
}

img{
 width: 100%;
 height: auto;
}

.list_product{
  width: 85%;
  margin: 3em auto;
}

h1{
  font-size: 3rem;
  font-weight: bold;
}

h2{
  font-size: 1.5rem;
  color: grey;
  font-style: italic;
  margin: 2em 0;
}

h1,h2{
  padding: 0 1%;
}

h3{
  font-size: 2rem;
  margin: 1em 0 0;
}

.last_product{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product{
  width: 23%;
  margin: 1em 1%;
  background-color: var(--white);
  box-shadow: 0 0 2em grey;
  padding: 1em 0;
  cursor: pointer;
}

.product:hover{
  transform: scale(1.1);
}

.product > div{
  padding: 0 2em;
}

.stars{
  margin: 0 0 1em;
}

.stars i{
  color: var(--green);
  font-size: 1.5rem;
}

.stars i:hover{
  fill: var(--green)
}

.content_product{
  font-size: 1.3rem;
  margin: 1em 0;
}

@media (max-width:900px) {
  .product{
    width: 48%;
  }
}

@media (max-width:500px) {
  .product{
    width: 98%;
  }
}