@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0.785rem;
  transition: all 0.3s ease-in-out;
}

:root{
  font-family: "RobotoRegular";
  --background-color: #000;
  --background-color-a: #000;
  --color-blanco: #fff;
}

a{
  color: #fff;
  text-decoration: none;
}

img{
  width: 100%; height: auto;
}

body{
  background-color: var(--background-color);
  padding: 2rem 0;
}

h1{
  font-size: 3rem;
  margin: 1em 6%;
  color: #fff;
}

section{
  background-color: #0B0B0B;
  padding: 5em 0;
}

.list_game{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.list_game a{
  overflow: hidden;
  border: 2px solid #282828;
  border-radius: 3px;
  display: flex;
  flex-flow: column;
  width: 31.33%;
  margin: 2em 1%;
}

.img_game{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    aspect-ratio: 1/1;
}

.content_game{
  padding: 4em;
  display: flex;
  flex-direction: column;
}

.title_game{
  display: flex;
  flex-wrap: nowrap;
  margin: 0 0 2em;
}

.title_game > *{
  width: 50%;
  font-size: 1.2rem;
}

.title_game time{
  color: #7C7C7C;
  padding: 0 0 0 1em;
}

h5{
  font-size: 2rem;
  line-height: 2.5rem;
}

@media (max-width:1024px){
  .list_game a{
    width: 48%;
  }
  .content_game{
    padding: 4em 2em;
  }
}
@media (max-width:570px){
  .list_game a{
    width: 98%;
  }
}

@media (max-width:380px){
  .title_game{
    flex-wrap: wrap;
  }
  
  .title_game > *{
    width: 100%;
    font-size: 1.6rem;
  }
  
  .title_game time{
    padding: .5em 0;
  }
}