/* Esto es un comentario en CSS */
@font-face {
    font-family: "Rubik regular";
    src: url(../font/Rubik-Regular.ttf)
    format("truetype");
    }
    p {
    font-family: "Rubik regular";
    }
:root
{/*esto afecta a todo el html*/
    font size: 1.375em;
    --dark-blue: #219ebc;
    --clear-green :#ffb703;


}

.panel
{

  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid var(--clear-green);/*variables*/
  max-width: 70%;
  margin: 20% auto;
}
h2
{
    margin-top: 0;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}
div{
    border: 1px solid black;
    width: calc(100vw - 50px);
    height: 100%;
    background-color: rgb(80,91,86);
 
}

/* @media(min-width: 800Px){/**estilo css para moviles filososfia moviles first**/ 
 /*   .panel{background-color: blue;
        color: azure;}
    